:host {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.wt-sheep-preview__created-at {
  font-size: .8em;
}

.wt-sheep-preview__eye-color {
  font-weight: bold;
}

.wt-sheep-preview__picture {
  height: 250px;
  object-fit: cover;
}
