<form
  fxLayout="column"
  fxLayoutAlign="center center"
  [formGroup]="loginForm"
  (ngSubmit)="logIn()">

  <mat-form-field
    class="ws-login-field">
    <input
      formControlName="userName"
      matInput
      placeholder="User Name"
      type="username">
  </mat-form-field>

  <mat-form-field
    class="ws-login-field">
    <input
      formControlName="password"
      matInput
      placeholder="Password"
      type="password">
  </mat-form-field>

  <div>
    <button mat-button type="reset">RESET</button>

    <button color="primary" mat-raised-button type="submit">LOG IN</button>
  </div>


</form>
