<form
  fxLayout="column"
  fxLayoutAlign="center center"
  [formGroup]="sheepForm"
  (ngSubmit)="addSheep()">

  <!-- Name -->
  <mat-form-field
    class="ws-sheep-form__field">
    <input
      formControlName="name"
      matInput
      placeholder="Name"
      type="text">
  </mat-form-field>

  <!-- Age -->
  <mat-form-field
    class="ws-sheep-form__field">
    <input
      formControlName="age"
      matInput
      placeholder="Age"
      type="number">
  </mat-form-field>

  <!-- Eye color -->
  <mat-form-field
    class="ws-sheep-form__field">
    <input
      formControlName="eyeColor"
      matInput
      placeholder="Eye color"
      type="text">
  </mat-form-field>

  <!-- Gender -->
  <mat-form-field
    class="ws-sheep-form__field">
    <mat-label>Gender</mat-label>
    <mat-select formControlName="gender">
      <mat-option value="female">Female</mat-option>
      <mat-option value="male">Male</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Farm -->
  <ng-container formGroupName="farm">

    <mat-form-field
      class="ws-sheep-form__field">
      <mat-label>Farm</mat-label>
      <mat-select formControlName="id">
        <mat-option
          *ngFor="let farm of farmList$ | async"
          [value]="farm.id">{{ farm.name }}</mat-option>
      </mat-select>
    </mat-form-field>

  </ng-container>

  <!-- Destinations -->
  <mat-form-field
    class="ws-sheep-form__field">
    <mat-label>Destinations</mat-label>
    <mat-select multiple formControlName="destinations">
      <mat-option value="kebab">🍖 Kebab</mat-option>
      <mat-option value="wool">🥼 Wool</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Picture selector. -->
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <img
      *ngFor="let pictureUri of pictureUriList$ | async"
      alt="A sheep picture"
      class="ws-sheep-form__thumbnail"
      [class.selected]="sheepForm.get('pictureUri').value === pictureUri"
      [src]="pictureUri"
      (click)="selectPictureUri(pictureUri)">
  </div>

  <div>
    <button mat-button type="reset">RESET</button>

    <button color="primary" mat-raised-button type="submit">ADD</button>
  </div>

  <mat-error *ngIf="errorMessage$ | async as errorMessage">{{ errorMessage }}</mat-error>

</form>
