<form
  fxLayout="column"
  fxLayoutAlign="center center"
  [formGroup]="sheepForm"
  (ngSubmit)="addSheep()">

  <mat-form-field
    class="ws-sheep-form__field">
    <input
      formControlName="name"
      matInput
      placeholder="Name"
      type="text">
  </mat-form-field>

  <!-- Picture selector. -->
  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <img
      *ngFor="let pictureUri of pictureUriList$ | async"
      alt="A sheep picture"
      class="ws-sheep-form__thumbnail"
      [class.selected]="sheepForm.get('pictureUri').value === pictureUri"
      [src]="pictureUri"
      (click)="selectPictureUri(pictureUri)">
  </div>

  <div>
    <button mat-button type="reset">RESET</button>

    <button color="primary" mat-raised-button type="submit">ADD</button>
  </div>

  <mat-error *ngIf="errorMessage$ | async as errorMessage">{{ errorMessage }}</mat-error>

</form>
