<div
  *ngIf="!isEditing"
  fxLayout="row"
  fxLayoutAlign="center center">
  <span>API:&nbsp;</span>
  <a
    class="ws-api-selector__api-base-url"
    target="_blank"
    [href]="apiBaseUrl$ | async">{{ apiBaseUrl$ | async }}</a>
  <mat-icon
    class="ws-api-selector__edit"
    aria-hidden="false"
    aria-label="Edit API URL"
    (click)="edit()">edit
  </mat-icon>
</div>

<div
  *ngIf="isEditing"
  fxLayout="row"
  fxLayoutAlign="center center">
  <ws-api-selector-form (done)="stopEditing()"></ws-api-selector-form>
</div>
