<ws-nav
  [isRightSidenavOpen]="isHackAssistantOpen$ | async"
  (rightSidenavOpenChange)="setIsHackAssistantOpen($event)">

  <!-- Toolbar -->
  <ws-toolbar fxFlex fxLayout="row" slot="toolbar"></ws-toolbar>

  <!-- Sidenav -->
  <div slot="sidenav">

    <mat-toolbar fxLayout="row">
      <span>Menu</span>
      <span fxFlex></span>
      <mat-icon class="ws-cursor-pointer" aria-label="sign out" (click)="signOut()">power_off</mat-icon>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLinkActive="ws-sidenav__link--active" [routerLink]="sheepRouteHelper.sheepAddRoute()">Add Sheep</a>
      <a mat-list-item routerLinkActive="ws-sidenav__link--active" [routerLink]="sheepRouteHelper.sheepListRoute()">My Sheep</a>
    </mat-nav-list>

  </div>

  <!-- Right sidenav -->
  <ng-container slot="right-sidenav">
    <ws-assistant></ws-assistant>
  </ng-container>

  <!-- Content -->
  <router-outlet slot="content"></router-outlet>

</ws-nav>
