<ws-nav [isRightSidenavOpen]="isHackMenuOpen$ | async">

  <!-- Toolbar -->
  <ng-container slot="toolbar">
    <div fxFlex fxLayout="row">
      <div fxFlex><span>🐑 {{ greetings$ | async}}</span></div>
      <div fxFlex fxLayout="row" fxLayoutAlign="end">
        <ws-api-selector></ws-api-selector>
        <mat-icon
          aria-label="Show hack menu"
          class="ws-cursor-pointer"
          (click)="hack()">settings_applications
        </mat-icon>
      </div>
    </div>
  </ng-container>

  <!-- Sidenav -->
  <div slot="sidenav">

    <mat-toolbar fxLayout="row">
      <span>Menu</span>
      <span fxFlex></span>
      <mat-icon class="ws-cursor-pointer" aria-label="sign out" (click)="signOut()">power_off</mat-icon>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLinkActive="ws-sidenav__link--active" [routerLink]="sheepRouteHelper.sheepAddRoute()">Add Sheep</a>
      <a mat-list-item routerLinkActive="ws-sidenav__link--active" [routerLink]="sheepRouteHelper.sheepListRoute()">My Sheep</a>
    </mat-nav-list>

  </div>

  <!-- Right sidenav -->
  <div slot="right-sidenav">
    <ws-hack-menu></ws-hack-menu>
  </div>

  <!-- Content -->
  <router-outlet slot="content"></router-outlet>

</ws-nav>
